:root {
    --color: #7532f9;
}

body {
    overflow-x: hidden;
    margin: 0 8px;
    padding-top: 80px;
    overflow-y: scroll;
    background: #f6f7fa;
    font-family: Inter, sans-serif;
}

[hidden] {
    display: none !important;
}

.copied {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: sans-serif;
    z-index: 100000000;
}

body .picker_wrapper {
    background: #fff;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.2);
}

body .picker_wrapper button {
    background: #fff;
    font-size: 15px;
    border-radius: 2px;
}

body .layout_default .picker_slider,
body .layout_default .picker_selector {
    padding: 6px;
}

body .picker_selector {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

body .picker_sl,
body .picker_hue {
    box-shadow: 0 0 0 1px #eee;
}